.secret{
    display: none;
}
.viewbtn{
    vertical-align: bottom;
    position: relative;
    display: block;
    padding-top: 10pt;
    
}
.reward{
    margin-top: 10pt;
}

.job_item{
    list-style: none;
}
#Rewarddiv{
    float:right;
    text-align: right;
}

.jobinfotext{
    text-align: left;
    font-size: 14pt;
    border:none;
    width: auto;
}
.lbltype{
    width: 60pt;
}
.job_item{
    border-bottom: 1px #C6C6C6 solid;
}