.jobdes{
    background-color:  #FCF8CE;
}
#first{
    padding-top: 20pt !important;
}
#jobhead{

}

#jobreq{

    padding-top: 10pt;
}
.txttxt{
    border-bottom: 1px #706F6F solid;
}
.lbl{
    font-style: oblique;
    display: inline-block;
    margin-right: 5pt;
}
#jobreq *{
    font-size: 12pt;
    padding-bottom: 10pt;
}
.projdes{
    font-size: 16pt !important;
}


